<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale="1.0, user-scalable=no">
    <title>@ViewBag.Title - Stratton Press: Watch Your Story</title>
    <link href="~/Assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header id="header" class="space clean">
            <div id="logo" class="float_left">
                <a href="index.html"><img src="~/Assets/img/stratton-logo-name-lion-3.png" alt="Alternate Text" /></a>
            </div>
            <nav id="navigation" class="float_right">
                <ul class="clear">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="index.html">Services</a></li>
                    <li>
                        <a class="drop" href="#">Gallery</a>
                        <ul>
                            <li><a href="pages/gallery.html">Gallery</a></li>
                            <li><a href="pages/full-width.html">Full Width</a></li>
                            <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
                            <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
                            <li><a href="pages/basic-grid.html">Basic Grid</a></li>
                            <li><a href="pages/font-icons.html">Font Icons</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html">About Us</a></li>
                    <li><a href="index.html">Contact Us</a></li>
                </ul>
            </nav>
        </header>
    </div>
        @RenderBody()
</body>
</html>
 