@{
    ViewBag.Title = "Home Page";
}

<div class="back_ground overlay" style="background-image: url('./assets/img/pexels-kaboompics-com-6469.jpg');">

    <div id="banner" class="hoc clear">
        <article class="center">
            <h3 class="heading underline">Stratton Press</h3>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
            <footer><a class="btn" href="#">Watch Your Story</a></footer>
        </article>
    </div>
</div>

    
<div class="first_section section_wrapper">
    <div class="space clean container">
        <div class="center section_title">
            <h6 class="heading underline">Awards of The Year</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="body">
            <main class="page-content">
                <div class="card">
                    <div class="content">
                        <h2 class="title">Mountain View</h2>
                        <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
                        <button class="button">View Trips</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">To The Beach</h2>
                        <p class="copy">Plan your next beach trip with these fabulous destinations</p>
                        <button class="button">View Trips</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Desert Destinations</h2>
                        <p class="copy">It's the desert you've always dreamed of</p>
                        <button class="button">Book Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2 class="title">Explore The Galaxy</h2>
                        <p class="copy">Seriously, straight up, just blast off into outer space today</p>
                        <button class="button">Book Now</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="second_section second_overlay start light" style="background-image: url(./assets/img/pexels-negative-space-34587.jpg)">
    <section id="second_segment" class="space clean">
        <div class="segment_part">
            <h6 class="heading underline font-x2">Mauris at tellus dui integer</h6>
            <p class="btmspace-50">Eu tortor bibendum est faucibus gravida donec velit lacus blandit ultricies placerat a pharetra a nulla pellentesque sit donec scelerisque etiam et tellus eget urna.</p>
            <article>
                <a href="#"><i class="fas fa-flag-checkered"></i></a>
                <h6 class="heading">Turpis nulla id nisl</h6>
                <p>Suspendisse fermentum purus commodo ultricies adipiscing augue ante facilisis dolor eget varius justo elit sit amet leo vivamus suspendisse&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
            <article>
                <a href="#"><i class="fas fa-recycle"></i></a>
                <h6 class="heading">Scelerisque pellentesque</h6>
                <p>Sed leo duis adipiscing ligula eget risus curabitur id quam a odio malesuada euismod mauris faucibus aliquet urna vivamus et libero duis sed&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </div>
    </section>
</div>

<div class="third_section">

</div>